body, html {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root, .app {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding: 50px;

  background-image: radial-gradient(farthest-corner at 500px 200px,transparent, rgba(246, 249, 253, 0.8)),
                    linear-gradient(90deg, rgb(255 173 148), rgb(237,158,183), rgb(225, 191, 251));

  font-family: "Montserrat", sans-serif;
  color: rgb(64, 65, 101);
}

.app_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

.app_title {
  margin: 0;
}

.book-info {
  display: grid;
}

@media (max-width: 1024px) {
  .book-info {
    grid-row-gap: 50px;
    grid-template-rows: auto auto;
  }
}

@media (min-width: 1024px) {
  html {
    height: 1px;
  }

  .book-info {
    grid-column-gap: 50px;
    grid-template-columns: auto 500px;
  }
}

.book-list {
  padding: 0;
  margin: 0;
}

.book-list_item {
  display: inline-block;
  margin: 5px;

  list-style: none;
}

.book-list_item button {
  padding: 20px;

  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.3) inset;

  font-family: "Montserrat", sans-serif;
  color: rgb(64, 65, 101);
}

.book-details {
  margin: 0;

  border-radius: 10px;
  background-image: linear-gradient(90deg, rgb(196, 111, 241), rgb(237, 114, 147), rgb(241,160,105));
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.book-details .message {
  padding: 30px;

  text-align: center;
  color: white;
}

.book-details_general {
  padding: 30px;
  color: white;
}

.book-details_general_name {
  margin-bottom: 5px;

  text-transform: uppercase;
  letter-spacing: 2px;
}

.book-details_general_genre {
  margin-top: 5px;
}

.book-details_author {
  padding: 30px;

  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.95));
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.5) inset;
}

.book-details_author_name {
  margin-bottom: 5px;

  text-transform: uppercase;
  letter-spacing: 2px;
}

.book-details_author_age {
  margin-top: 5px;
}

.add-book {
  position: relative;
  max-width: 600px;
  margin: 0;
  padding-bottom: 50px;
}

.add-book_field {
  margin: 10px 0;
}

.add-book_field input,
.add-book_field select {
  height: 50px;
  width: 100%;
  padding: 15px;

  border: none;
  border-radius: 10px;
  background-color: rgba(255,255, 255, 0.3);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1) inset;

  font-family: "Montserrat", sans-serif;
}

select {
  appearance: none;
  background-image: url("chevron-down-solid.svg");
  background-position: 97% center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.add-book_button {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;

  border: none;
  background-image: radial-gradient(farthest-corner at 40px 20px, rgb(177 67 167), rgb(229 136 139));
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);

  color: white;
  font-size: 30px;
}
